/* 底部导航菜单 */

.bottom-menu{
    display: flex;
    padding: 5px;
    box-sizing: border-box;
    position: fixed; 
    width: 100%;
    bottom: 0;
    background-color: #fffcfc;
    border-top: 1px solid gainsboro;
}

.bottom-menu .bottom-menu-item{
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.bottom-menu .bottom-menu-item .bottom-menu-icon{
    font-size: 26px;
}

.bottom-menu .bottom-menu-item .bottom-menu-name{
    padding-top: 3px;
    font-size: 14px;
}

.bottom-menu .bottom-menu-item .bottom-menu-name-checked{
    color: #000;
}

.bottom-menu .bottom-menu-item .bottom-menu-car-num{
    position: absolute;
    width: 10px;
    height: 10px;
    line-height: 10px;
    border-radius: 50%;
    background-color: red;
    color: #fff;
    text-align: center;
    font-size: 10px;
    padding: 2px;
    top: -2px;
    right: 15px;
}