/* classify.css  分类CSS */

body {
    font-family: Microsoft YaHei, sans-serif;
    font-size: 14px;
    color: #333;
}

html, body {
    height: 100%;
}

/*商品分类44 */
.classify {
    width: 100%;
    height: 100%;
    display: flex;
}

/* 分类左侧 */
.classify .classify-left {
    width: 20%;
    height: 93%;
    background-color: #e4eaf8;
    overflow: scroll;
}

.classify .classify-left .classify-left-container{
    padding: 26px 0 16px 0;
}

.classify .classify-left .classify-left-container .classify-left-item{
    padding: 10px 0 10px 5px;

}

.classify .classify-left .classify-left-container .classify-left-item-checked{
    background-color: #fff;
    border-left: 2px solid #2685f2;
    border-radius: 12px 0 0 0px;
}


/* 分类右侧 */
.classify .classify-right {
    width: 80%;
    overflow: scroll;
}

.products2-list{
    display: flex;
    flex-wrap: wrap;
    padding-top: 10px;
    padding-bottom: 8px;
}

.products2-list .product2-item{
    width: 33%;
    padding: 3px;
    box-sizing: border-box;
}

.products2-list .product2-item .product2-img{
    width: 100%;
    border: 1px solid #f2f2f2;
    border-radius: 5px;
}

.products2-list .product2-item .product2-name{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

}

.products2-list .product2-item .product2-price{
    color: red;
    font-size: 15px;
    padding: 5px;
}
