/* 分类css */


/* 顶部导航开始 */

.shopcar-header {
    background: linear-gradient(#f2f2f2, #fbfbfb, #f2f2f2);
    display: flex;
    padding: 10px;
}

.shopcar-header .shopcar-header-back {
    flex-grow: 1;
}

.shopcar-header .shopcar-header-back .shopcar-header-back-icon {
    font-size: 25px;
}

.shopcar-header .shopcar-header-caption {
    flex-grow: 1;
    color: #000;
    font-size: 20px;
}


/* 顶部导航结束 */


/* 产品列表开始 */

.products-list {
    display: flex;
    flex-wrap: wrap;
    padding-top: 10px;
    padding-bottom: 8px;
}

.products-list .product-item {
    width: 50%;
    padding: 3px;
    box-sizing: border-box;
}

.products-list .product-item .product-img {
    width: 100%;
    border: 1px solid #f2f2f2;
    border-radius: 5px;
}

.products-list .product-item .product-name {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.products-list .product-item .product-price {
    color: red;
    font-size: 15px;
    padding: 5px;
}


/* 产品列表结束 */