/* user.css  会员CSS */

body {
    font-family: Microsoft YaHei, sans-serif;
    font-size: 14px;
    color: #333;
}

.gray {
    border-bottom: 6px solid #f8f8f8;
}

/* 会员信息开始*/

.user {
    display: flex;
    background-color: #ff622b;
    padding: 5px;
}

.user-touxiang {
    padding: 8px;
    padding-left: 16px;
}

.user-touxiang-img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 1px solid #f2f2f2;
    /* box-shadow: 2px 2px 2px #f2f2f2; */
}

.user-info {
    padding: 5px;
    padding-left: 8px;
    color: #fff;
}

.user-info-name {
    font-size: 18px;
    padding-top: 14px;
}

.user-info-grade {
    padding: 16px 0 7px 0;
    font-size: 13px;
}

.user-info-mobile {
    font-size: 13px;
}

/* 会员信息结束 */

/* 导航菜单开始 */

.nav {
    display: flex;
    align-items: center;
    padding: 7px;
    border-bottom: 1px solid #f2f2f2;
}

.nav .nav-icon {
    font-size: 22px;
    color: cornflowerblue;
}

.nav .nav-left {
    flex-grow: 1;
    padding-left: 10px;
}

.nav .nav-right {
    padding-right: 5px;
}

/* 导航菜单结束 */

/* 我的订单-4个快捷菜单 开始 */

.menu {
    display: flex;
    padding: 6px;
    width: 100%;
    border: 1px solid #f2f2f2;
    box-sizing: border-box;
}

.menu .menu-link {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    position: relative;
}

.menu .menu-link .menu-icon {
    padding: 5px;
    font-size: 24px;
}

.menu .menu-link .menu-name {
    font-size: 16px;
    text-align: center;
}

.menu .menu-link .menu-num {
    width: 14px;
    height: 14px;
    background-color: red;
    border-radius: 50px;
    color: #fff;
    position: absolute;
    text-align: center;
    font-size: 12px;
    line-height: 14px;
    top: 0;
    right: 26px;
}

/* 我的订单-4个快捷菜单 结束 */

/* 会员相关开始 */
.container .nav{
    font-size: 16px;
    padding: 12px;
}

.score .nav-icon {
    color: blue;
}

.score .nav-right {
    color: gray;
}

.favorite .nav-icon {
    color: red;
}

.favorite .nav-right {
    color: gray;
}

.address .nav-icon {
    color: cadetblue;
}

.address.nav-right {
    color: gray;
}

.pwd-modify .nav-icon {
    color: chocolate;
}

.pwd-modify.nav-right {
    color: gray;
}

/* 会员相关结束 */